name: Autobuild BDBuilder

# Controls when the action will run.
on:
  push:
    branches:
      - master
      - feature/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build and publish
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.event.head_commit.message, 'bump package version') }}

    steps:
      - name: clean working directory
        run: rm -rf /home/runner/work/${{ github.repository }}

      - name: checkout code
        uses: actions/checkout@v2

      - name: setup nodejs
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: install dependencies
        run: npm i

      - name: build core
        run: npm run build:no-spam

      - name: bump package version (master)
        if: ${{ 'refs/heads/master' == github.ref }}
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "BDBuilder builder"
          npm version patch -m "bump package version to %s"

      - name: bump package version (pre-release)
        if: ${{ 'refs/heads/master' != github.ref }}
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "BDBuilder builder"
          npm version prerelease --preid preview -m "bump package version to %s"

      - name: publish
        id: publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ github.token }}
          access: public
          registry: https://npm.pkg.github.com
          tag: latest

      - name: push version change
        if: steps.publish.outputs.type != 'none'
        run: git push
